.svn/
.git/

/test/output.html
/test/data/*.config[12]
/test/data/*.index
/test/data/*.part.info[12]
/test/data/*.part[0-9]*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
#*.so
*.dylib
#*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
